body {
  background: #000;
  margin: 
  paddi;
}
#container {
  background-image: url(imag/wal12.webp);
  filter: blur(0px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 20px;
  box-shadow: 5px -11px 5px red,
  -6px 10px 5px yellow,
  9px 14px 6px greenyellow;
  border-radius: 10px;
}

header {
  height: 60px;
  width: 100%;
}
#logo {
  float: left;
  margin-right: 100px;
}

.header a {
  font-size: 30px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  float: left;
  padding-right: 40px;
  text-decoration: none;
}
.header a:hover {
  color: yellow;
  cursor: pointer;
  text-decoration: underline;
}
#sign-in a {
  font-size: 30px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  float: left;
  text-decoration: none;
}
#sign-in a:hover {
  color: blue;
  cursor: pointer;
}
#title {
  font-size: 50px;
  text-transform: capitalize;
  color: yellow;
  text-shadow: 1px -2px orange;
  font-weight: bold;
  animation: title 10s linear infinite;
}
@keyframes title {
  to {
    transform: translate(100%);
  }
}
#sec1 {
  height: 450px;
  width: 100%;
}
#sec1-1 {
  height: 450px;
  width: 70%;

  float: left;
}
#para {
  font-size: 25px;
  color: white;
}
#sec1-2 {
  width: 29%;
  float: left;
  height: 450px;
  overflow: hidden;
}
#title2 {
  text-align: left;
  color: yellow;
  text-shadow: 1px -2px red;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 30px;
  animation: animation 10s linear infinite;
}
@keyframes animation {
  to {
    transform: translate(100%);
  }
}

#msg {
  width: 600px;
  height: 500px;
  margin: auto;
  padding-top: 50px;
  box-shadow: 4px 4px 4px 4px yellow, -5px 4px 4px 4px orange,
    4px -4px 4px 4px blue;
  border-radius: 30px;
  border: none;
}
.lbl {
  margin-left: 80px;
  font-size: 30px;
  margin-top: 20px;
  color: white;
  box-shadow: 1px 2px 3px 2px red;
  margin-bottom: 10px;

  border-radius: 5px;
}
.inp {
  margin-left: 80px;

  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px 2px gray;
  color: yellow;
  font-size: 20px;
  background: none;
  border-radius: 5px;
}
#btn {
  margin-left: 190px;
  padding: 5px 10px;
  border-radius: 7px;
  margin-top: 30px;
  background-color: green;
  color: white;
}
#btn:hover {
  color: yellow;
  cursor: pointer;
}
#footer {
  box-shadow: 4px -7px 5px yellow, -5px -8px 5px greenyellow, 6px 7px 5px red;
  background-image: url(imag/wal6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

#footer > h1 {
  font-size: 40px;
  text-align: center;
  color: red;
}
#footer > p {
  font-size: 22px;
  text-align: center;
  color: white;
}
#link {
  text-align: center;
}
#formtitle {
  font-size: 30px;
  color: white;
  text-align: center;
}
#form-main-div {
  width: 600px;
  height: 500px;
  margin: auto;
  box-shadow: 4px 4px 4px 4px yellow, -5px 4px 4px 4px orange,
    4px -4px 4px 4px blue;
  border-radius: 30px;
  border: none;
  padding-top: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}
#form-middle-div label {
  margin-left: 130px;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  box-shadow: 1px 2px 3px 2px palegreen;
  margin-bottom: 10px;

  border-radius: 5px;
}
#form-middle-div input {
  margin-left: 130px;
  margin-top: 6px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px 2px gray;
  color: yellow;
  font-size: 18px;
  background: none;
  border-radius: 5px;
  padding: 5px 40px;
}
#sign-up-btn {
  margin-left: 190px;
  padding: 5px 10px;
  border-radius: 7px;
  margin-top: 10px;
  background-color: green;
  color: white;
}
#services-section-1 h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  text-shadow: 2px -2px orange;
}
#services-section-1 p {
  font-size: 22px;
  text-align: center;
  color: aqua;
}
.services-headings {
  font-size: 40px;
  color: white;
}
.services-para {
  padding-left: 130px;
  padding-right: 130px;
  color: orange;
}
#services {
  font-size: 50px;
  text-align: center;
}
#services-image-main-div {
  display: grid;
  grid-area: auto;
  grid-template-columns: auto auto auto auto auto;
  border: 2px solid red;
}
.services-image {
  border: 2px solid blue;
  background-color: aqua;
}
#about-h1{
  font-size: 50px;
  text-align: center;
  color: white;
}
.about-h2{
  font-size: 40px;
  color: white;

}
.about-para{
  color: white;
  font-size: 25px;
  padding-left: 200px;
  padding-right: 200px;
}
.about-image{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: none;
  border: 2px solid pink;
}
.about-image-text{
  color: white;
}
.about-image-text-gmail{
  color: lightblue;
}
#team{
  padding-left: 200px;
  padding-bottom:300px;
}
.team-member{
  float: left;
  margin-left: 10px;
}
#sign-in-form{
  width: 500px;
  height: 400px;
  border-radius: 15px;
  border: none;
  margin: auto;
  color: blue;
  box-shadow: 3px -4px 5px red,
  -3px 4px 5px yellow,
  6px -7px 9px olivedrab,
  -5px 7px 7px darkgreen;
 
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
#sign-in-form label{
  margin-left: 100px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  box-shadow: 1px 2px 3px 2px palegreen;
margin-top: 10px;
  border-radius: 5px;
}
#sign-in-form input{
  margin-left: 100px;
  font-size: 20px;
  color: green;
  box-shadow: 1px 2px 3px 2px palegreen;
margin-bottom: 15px;
  border-radius: 5px;
}
#sign-in-btn{
  color: white;
  background-color: green;
  box-shadow: 2px -2px 2px 1px red;
  margin-left: 100px;
  margin-top: 10px;
  padding: 5px 90px;
  font-size: 25px;
  border: none;
  border-radius: 10px;

}
#sign-in-h1{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: white;
}
#link a{
font-size: 50px; 
color: blue;
text-decoration: none;
}
